<div class="tabla maxAnchoAlto">
  <div class="fila">
    <div class="celda"> <!-- Esta fila tiene la altura maxima...-->
      <div style="background-color: #00897B; padding: 1%; color:#FFFFFF;font-size: 1.1em;">
        Hola! {{nombre}}, bienvenid@ al sistema.
        <button md-raised-button style="margin-left: 2%; color:#202020;" (click)="logout()">Salir</button>
      </div>
    </div>
  </div>
  <div class="fila">
    <div class="celda"> <!-- Esta fila tiene la altura maxima...-->
      <div style="background-color: #E0E0E0; padding: 1%; color:#E1F5FE;font-size: 1.1em;">
        <md-input-container style="width: 95%;">
          <input md-input style="color: black;" placeholder="Buscar medicamento..." [(ngModel)] = "busquedaNombre">
        </md-input-container>
      </div>
    </div>
  </div>
  <div class="fila">
    <div class="celda" style="height: 100%;"> <!-- Esta fila tiene la altura maxima...-->
      <div style="position: relative; height: 100%;">
        <!-- Hay que usar el pipe por su nombre-->
        <medicamento *ngFor="let medicamento of listaMedicamentos" [medicamento]="medicamento" [criterioBusqueda]="busquedaNombre" (verDetalles)="mostrarDialogoVer($event)" (editarMedicamento)="mostrarFormularioEdicion($event)"></medicamento>

        <button (click) = "mostrarFormularioCreacion()" *ngIf="usuario.permisoPantalla('lista').modificacion" md-fab style="position: absolute; right: 5px; bottom: 5px;"><md-icon>add</md-icon></button>
      </div>
    </div>
  </div>
  <div class="fila">
    <div class="celda"> <!-- Esta fila tiene la altura maxima...-->
      <div style="background-color: #607D8B; padding: 1%; color:#ECEFF1;font-size: 1.1em; text-align: center">Gestión de la Información - Trabajo en grupo curso 2016 - 2017</div>
    </div>
  </div>
</div>

<!-- Overlay del loader -->
<div *ngIf="cargaDatos" style="position: fixed; top: 0px; bottom: 0px; left: 0px;right: 0px; background-color: rgba(0, 0, 0, 0.3);">
  <div class="tabla maxAnchoAlto">
    <div class="fila">
      <div class="celda alineacionVertical" style="text-align: center;">
        <div style="display: inline-block;">
          <md-spinner></md-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
