<div class="tabla">
  <div class="fila"><div class="celda"><h2>Datos del medicamento:</h2></div></div>
  <div class="fila"><div class="celda"><b>Id:</b></div><div class="celda">{{medicamento.idMedicamento}}</div></div>
  <div class="fila"><div class="celda"><b>Nombre:</b></div><div class="celda">{{medicamento.nombreMedicamento}}</div></div>
  <div class="fila"><div class="celda"><b>Cantidad:</b></div><div class="celda">{{medicamento.cantidadDisponible}}</div></div>
  <div class="fila"><div class="celda"><b>Laboratorio:</b></div><div class="celda">{{nombreLab}}</div></div>
</div>
